{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h1 class="display-4 logo-font text-black text-center" style="text-transform: none; font-family: pacifico;">Discover our selection</h1>
                <div class="my-5 text-center">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-4 text-uppercase py-3" style="background-color: #d4af37;">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 logo-font text-black text-center" style="text-transform: none; font-family: pacifico;">More Details</h1>
            </div>
            <div class="col-8 my-auto">
                <p>A canvas is a statement piece and artwork all in one. Put the artistry on your wall without a worry, this canvas comes with mounting brackets!</p>
                <ul>
                    <li>Acid-free, PH-neutral, poly-cotton base</li>
                    <li>20.5 mil (0.5 mm) thick canvas</li>
                    <li>Canvas fabric weight: 13.9 oz/yd² (470 g/m²)</li>
                    <li>Printed on textured and fade-resistant canvas (OBA-Free)</li>
                    <li>Mounting brackets included</li>
                    <li>Hand-glued solid wood stretcher bars</li>
                    <li>1.5″ (3.81 cm) deep</li>
                    <li>Blank product in the EU sourced from Latvia</li>
                    <li>Blank product in the US sourced from the US</li>
                </ul>
            </div>
            <div class="col-4">
                <img src="{{ MEDIA_URL }}mockup.png" alt="canvas">
            </div>            
        </div>
        <hr>      
    </div>

    <!-- <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 logo-font text-black text-center" style="text-transform: none; font-family: pacifico;">Free Returns</h1>
            </div>
            <div class="col-12 text-center" style="padding-top: 30px;">
                <p>If you change your mind don't worry! You can return our products within 30 days.</p>                
            </div>
            <div class="col-12 text-center">
                <img src="{{ MEDIA_URL }}mockup.png" alt="canvas">
            </div>
        </div>        
    </div> -->

    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 logo-font text-black text-center" style="text-transform: none; font-family: pacifico;">Quick Delivery</h1>
            </div>
            <div class="col-6">
                <img src="{{ MEDIA_URL }}mockup.png" alt="canvas">
            </div>
            <div class="col-6 my-auto">
                <p>We deliver worldwide in 5 days and you can track your purchases in real time.</p>                
            </div>            
        </div>
        <hr>       
    </div>

    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 logo-font text-black text-center" style="text-transform: none; font-family: pacifico;">Free Returns</h1>
            </div>
            <div class="col-6 my-auto">
                <p>If you change your mind don't worry! You can return our products within 30 days.</p>                
            </div>
            <div class="col-6">
                <img src="{{ MEDIA_URL }}mockup.png" alt="canvas">
            </div>            
        </div>
        <hr>
    </div>

    

{% endblock %}
